.projects .container {
    padding-top: 20px;
    color: var(--white);
}

.projects .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.portfolio-heading h2 {
    font-size: 30px;
}

.portfolio-heading h2 span {
    color: var(--theme-color);
    font-family: 'Clicker Script', cursive;
    font-size: 45px;
}

.projects .portfolio-item {
    margin-bottom: 50px;
}

.projects .portfolio-item {
    transition: all 0.3s ease;
    cursor: pointer;
}

.projects .portfolio-item:hover {
    transform: scale(1.05);
}

.projects .portfolio-item a {
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
}